header.layout-header
		.overlay
			nav.navbar.navbar-inverse
				.container
					.navbar-header
						button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						.logo

					.collapse.navbar-collapse#bs-example-navbar-collapse-2
						ul.nav.navbar-nav.navbar-right
							li: a.active Home
							li: a About
							li: a Expertise
							li: a Teams
							li: a Works
							li: a People Say
							li: a Contact
			.container
				.main-slider
					.header-content
						h1 We Are Awesome Creative Agency
						hr
						p  This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.

						button.btn.btn-default Learn More
					.header-content
						h1 We Are Awesome Creative 
						hr
						p  This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.

						button.btn.btn-default Learn More
					.header-content
						h1 We Are Awesome 
						hr
						p  This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.

						button.btn.btn-default Learn More
					.header-content
						h1 We Are 
						hr
						p  This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.

						button.btn.btn-default Learn More



