extends ../layout/layout-default

block vars
	- var bodyClass = 'layout-home';

block head
	- var pageTitle = 'Project';

block content

	section.about
		.container
			.row
				.col-lg-5.col-md-5.col-sm-12
					img(src="/big-logo.png")
				.col-lg-7.col-md-7.col-sm-12
					.right-content
						h3 Our Story
						p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus

						p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

						button.btn.btn-default Learn More
	
	section.video-block
		.overlay
			.container
				.video-container
					img(src="/play.png")
					h4 Watch Our Story
	
	section.expertise
		.container
			.row
				h3 Expertise
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, magni.
				hr.small-hr
				
				.col-lg-4.col-md-14.col-sm-4.col-xs-12.expertise-items
					img(src="/mobile.png")
					h4 Mobile App
					p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
					
				.col-lg-4.col-md-4.col-sm-4.col-xs-12.expertise-items
					img(src="/brush.png")
					h4 Branding Identity
					p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
				.col-lg-4.col-md-14.col-sm-4.col-xs-12.expertise-items
					img(src="/mobile.png")
					h4 Mobile App
					p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
				
				.col-lg-4.col-md-14.col-sm-4.col-xs-12.expertise-items
					img(src="/mobile.png")
					h4 Mobile App
					p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
					
				.col-lg-4.col-md-4.col-sm-4.col-xs-12.expertise-items
					img(src="/kpk.png")
					h4 Game Development
					p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
					
				.col-lg-4.col-md-14.col-sm-4.col-xs-12.expertise-items
					img(src="/mobile.png")
					h4 Mobile App
					p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.

	section.team
		.overlay
			.container
				.row
					h3 Meet Our Amazing Team
					p.team-title  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, sunt.
					hr.small-hr

					.col-lg-3.col-md-3.col-sm-6.col-xs-12.team-item-padding
						.team-items
							.photo.photo-1
							.photo-discr
								h4 Semf Ucuk
								h5 Ceo & Founder
					.col-lg-3.col-md-3.col-sm-6.col-xs-12.team-item-padding
						.team-items
							.photo.photo-2
							.photo-discr
								h4 dik Adalin
								h5 Engineering
					.col-lg-3.col-md-3.col-sm-6.col-xs-12.team-item-padding
						.team-items
							.photo.photo-3
							.photo-discr
								h4 Jeng Kol
								h5 Designer
					.col-lg-3.col-md-3.col-sm-6.col-xs-12.team-item-padding
						.team-items
							.photo.photo-4
							.photo-discr
								h4 Pet Romak
								h5 Marketing
				p.bottom-title Become part of dream team,let's join us!
				button.btn.btn-default We Are Hiring
						
	section.our-works
		.container
			h3 Our Works
			.right-arrow-block
				p See All Project in Dribbble
				i(class="fa fa-chevron-right" aria-hidden="true")
		.work-galery
			.work-galery-item
				img(src="#" alt="Galery Item1")
			.work-galery-item
				img(src="#" alt="Galery Item2")
			.work-galery-item
				img(src="#" alt="Galery Item3")
			.work-galery-item
				img(src="#" alt="Galery Item4")
			.work-galery-item
				img(src="#" alt="Galery Item5")
			.work-galery-item
				img(src="#" alt="Galery Item6")
			.work-galery-item
				img(src="#" alt="Galery Item7")
			.work-galery-item
				img(src="#" alt="Galery Item8")
			.work-galery-item
				img(src="#" alt="Galery Item9")
			.work-galery-item
				img(src="#" alt="Galery Item10")
			.work-galery-item
				img(src="#" alt="Galery Item11")
			.work-galery-item
				img(src="#" alt="Galery Item12")
				
		button.btn.btn-default Load More
		
	section.note-block
		.overlay
			.container
				h3 &ldquo;
				.second-slider
					.staff-profile
						p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
						h4 Jane Red
						h5 Ceo tengkuper
					.staff-profile
						p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
						h4 Jane green
						h5 Ceo tengkuper
					.staff-profile
						p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
						h4 Jane Player
						h5 Manager
					.staff-profile
						p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
						h4 Jane Mitchel
						h5 Back
					.staff-profile
						p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
						h4 Jane Story
						h5 Front
				.sl
					.staff-photo
						img(src='/stuff1.png' alt='photo')
					.staff-photo
						img(src='/stuff2.png' alt='photo')
					.staff-photo
						img(src='/stuff3.png' alt='photo')
					.staff-photo
						img(src='/stuff4.png' alt='photo')
					.staff-photo
						img(src='/stuff5.png' alt='photo')
	section.form-section
		.container
			.row
				.col-sm-6
					h3 Give Us A Good News
					fieldset
						input(name='name' id='name' type='text' placeholder='Name' required)
						input(name='mail' id='mail' type='text' placeholder='Email' required)
						input(name='subject' id='subject' type='text' placeholder='Subject')
						textarea(name='message' id='message' type='textarea' placeholder='Your Message')
						button.btn.btn-default(type='submit' name='submit-button' id='submit-button') Submit
				.col-sm-5.col-sm-offset-1
					.brands
						h3 Our Happy Client
						img(src='/brands-images.png' alt='brands')