.overlay{
	background: #fefcea;
	background: -webkit-linear-gradient(to right, rgba(11, 6, 49, 0.85), rgba(47, 29, 92, 0.85));
	background: -o-linear-gradient(to right, rgba(11, 6, 49, 0.85), rgba(47, 29, 92, 0.85));
	background: linear-gradient(to right, rgba(11, 6, 49, 0.85), rgba(47, 29, 92, 0.85));
	width: 100%;
	height: 100%;
}